<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="LogFolder" value="C:\Users\" />
    <add key="ResultsFolder" value="C:\Users\" />
    <add key="UseCalifornia" value="False" />
    <add key="UseNewYork" value="True" />
  </appSettings>
</configuration>